@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic);

body{
  font-family: 'Gentium Book Basic', serif;
  padding-top: 20px;
  padding-bottom: 40px;
}

.container-narrow {
  margin: 0 auto;
  max-width: 1000px;
}

.container-narrow > hr {
  margin: 30px 0;
}

#application{
}

.tech{
  margin: 10px;
  padding: 10px;
}

.header{
  text-align: center;
  width: 1000px;
  margin: 10px auto;
}

#image{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  max-width: 1000px;
  text-align: center;
}

#controls{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: center;
  margin-bottom: 60px;
}

#rating{
  float: left;
  width: 400px;
}

#average-rating{
  text-align: center;
  margin-bottom: 10px;
  height: 20px;
}

#controls .btn {
  margin-top: 8px;
  float: left;
  display: block;
}

#controls .previous{
  margin-right: 50px;
}

#controls .next{
  margin-left: 50px;
  width: 55px;
}

#image_credit{
  text-align: center;
  margin: 20px auto;
  width: 1000px;
}

#explanation{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

#download{
  margin-top: 20px;
}
